<div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
        <div class="logo">
            <a href="">
                <img src="assets/img/logo.png" alt="SpicyRSS Logo">
            </a>
        </div>
        <div class="login-box mx-auto d-block">
            <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
                <p class="title">Use your password</p>
                <label for="password" class="sr-only">Password</label>
                <div class="form-group">
                        <div class="input-group">
                            <input type="password" placeholder="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></span>
                            </div>
                        </div>
                </div>
                <button class="btn btn-custom-primary btn-lg btn-block btn-auth" [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border"></span>
                    <fa-icon [icon]="faArrowAltCircleRight"></fa-icon> Login
                </button>
            </form>
        </div>
    </div>
</div>